/* Reset Css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* , *::before , *::after{
	box-sizing: border-box;
}
button{
	font-family: inherit;
	border: 0;
}

/* fonts */
@font-face {
    font-family:"Yekanback Regular" ;
    src: url("../fonts/YekanBakh-Regular.woff" );
}

@font-face {
    font-family:"Yekanback Medium" ;
    src: url("../fonts/YekanBakh-Medium.woff");
}
@font-face {
    font-family:"Yekanback Heavy" ;
    src: url("../fonts/YekanBakh-Heavy.woff");
}
@font-face {
    font-family:"Yekanback Bold" ;
    src: url("../fonts/YekanBakh-Bold.woff");
	font-weight: bold;
}

/* App Css */
body{
    font-family:"Yekanback Heavy" ;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	line-height: 1.5;
    padding: 85px 0;
    background-color: #fff;
}
.icon-pack{
    display: none;
}
.btn-danger{
    background-color: #ed1a3b;
    color: #fff;
    border-radius: 10px;
    width: 326px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    font-family:"Yekanback Medium" ;
    padding: 18px 0;
    cursor: pointer;
    
}
.overlay{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(172, 163, 163, 0.852);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 270ms ease-in;
}
.overlay--show{
    opacity: 100;
    visibility: visible;
}
.box{
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
    font-size: 18px;
    font-family:"Yekanback Medium" ;
    text-align: center;
    width: 384px;
    height: 282px;
    position: relative;


}

.content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-img{
    display: block;
    margin: 0 auto 30 auto ;
}

.clos-btn{
    width: 42px;
    height: 42px ;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d2939;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -16px ;
    right: -16px;
}