/* Center button in the middle of the page */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #212121;
}
/* From Uiverse.io by chase2k25 */ 
.container {
  background: #181c21;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.pattern-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: repeating-linear-gradient(
    135deg,
    #232526 0px,
    #232526 60px,
    #23252699 70px,
    #414345 130px
  );
}

.cube-svg {
  position: absolute;
  width: 200%;
  height: 200%;
  left: -30%;
  top: -20%;
  background: transparent;
  opacity: 0.7;
  z-index: 1;
  animation: cubeMove 18s linear infinite alternate;
}

@keyframes cubeMove {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-20%) scale(1.02) rotate(1deg);
  }
}
